<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:label="ائتینگ"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eting"
        android:usesCleartextTraffic="false">
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="eting_reminders" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".EtingMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".PhoneDataLayerService" android:exported="true">
            <intent-filter><action android:name="com.google.android.gms.wearable.BIND_LISTENER" /></intent-filter>
        </service>
    </application>
</manifest>
